<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthcorp.gw_scd_latlon_convert.GwscdMapper">
	
	<select id="selectGwscd" parameterType="map" resultType="map">
		select id,docid,x,y from GW_SCD limit ${start},${end}
	</select>
	
</mapper>